<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/css/vendor/bumble-bee-css/css/root.css'/>
    <link rel='stylesheet' href='/css/vendor/bumble-bee-css/css/core.css'/>
    <link rel='stylesheet' href='/css/vendor/bumble-bee-css/css/colors.css'/>
    <link rel='stylesheet' href='/css/vendor/bumble-bee-css/css/coreBreakDown/table.css'/>
    <!--<link rel='stylesheet' href='../public/css/vendor/bumble-bee-css/css/core.css' />-->

    <link rel='stylesheet' href='/css/custom.css'/>
    <!--<script src="https://d3dy5gmtp8yhk7.cloudfront.net/2.1.6/sockjs.min.js" type="text/javascript" async="true"></script>-->

    <style>
        li span.className {
            display: inline-block;
            height: 50px;
            width: 40%;
            padding: 15px;
            background-color: var(--normalBgColor);
            color: var(--menuTextColor);
            margin-right: 20px;
            margin-bottom: 20px;
            border: 1px solid var(--dividerColor);
            position: relative;
            top: 0;
            transition: all .3s;
            font-weight: 600;
        }

        .classes li:nth-child(n) span {
            float: left;
            margin-left: 6%;
        }

        li span.className:hover {
            box-shadow: 0 4px 10px rgba(0,0,0,0.19);
            border: 0;
        }
    </style>
</head>
<body class="ys">
<div class="h150 w150 m0a rc50p bdr ctr badge bgp-center bgs-con mt30"></div>

<!--<h1><%= title %></h1>-->
<!--<h1><%#= apiData %></h1>-->
<!--<h1></h1>-->
<h1 class="ctr pd10 m10">CRYPTO-WATCHER</h1>
<!--<p>Welcome to </p>-->

<section class="fph ha pdlr10p" id="cryptos-container">
    <table class="data-table medium bdr">
        <thead>

            <!--<tr>-->
                <!--<td>Rank</td>-->
                <!--<td>Name</td>-->
                <!--<td>Symbol</td>-->
                <!--<td>Price (USD)</td>-->
                <!--<td>1H</td>-->
                <!--<td>1D</td>-->
                <!--<td>1W</td>-->
                <!--<td>Market Cap (USD)</td>
               data[""],
                         data["gdax"],
                         data["bitMex"],
                         data["bittrex"],
                         data["bitfinex"],
                         data["cex"],
                         data["okcoin"],
                         data["poloniex"],
                         data["gemini"]

                -->
            <!--</tr>-->
            <tr>
                <th>bitstamp</th>
                <th>gdax</th>
                <th>bitMex</th>
                <th>bittrex</th>
                <th>bitfinex</th>
                <th>cex</th>
                <th>okcoin</th>
                <th>poloniex</th>
                <th>gemini</th>
            </tr>
        </thead>
        <tbody>
            <!--<tr v-for="coin in coins">
                <td>{{ coin.rank }}</td>
                <td><img v-bind:src="getCoinImage(coin.symbol)"> {{ coin.name }}</td>
                <td>{{ coin.symbol }}</td>
                <td>{{ coin.price_usd | currency }}</td>
                <td>
                    <span v-if="coin.percent_change_1h > 0">+</span>{{ coin.percent_change_1h }}%
                </td>
                <td>
                    <span v-if="coin.percent_change_24h > 0">+</span>{{ coin.percent_change_24h }}%
                </td>
                <td>
                    <span v-if="coin.percent_change_7d > 0">+</span>{{ coin.percent_change_7d }}%
                </td>
                <td>{{ coin.market_cap_usd | currency }}</td>
            </tr>-->
        </tbody>
    </table>

    
            
</body>
</html>
